
#header, #reset, #list, #results {
    text-align: center;
}

#header, #reset, #list, #results {
    width: 400px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}


body {
  background-color: lightsalmon;
}
